####################################################################
#                            IDE Stuff                             #
####################################################################
workspace.code-workspace

####################################################################
#                    Jupyter Notebook Artifacts                    #
####################################################################
.ipynb_checkpoints
