####################################################################
#                            IDE Stuff                             #
####################################################################
workspace.code-workspace

####################################################################
#                    Jupyter Notebook Artifacts                    #
####################################################################
.ipynb_checkpoints

####################################################################
#                 Development Container Artifacts                  #
####################################################################
.devcontainer
*.swp
