####################################################################
#                            IDE Stuff                             #
####################################################################
workspace.code-workspace
.vscode

####################################################################
#                    Jupyter Notebook Artifacts                    #
####################################################################
.ipynb_checkpoints

####################################################################
#                 Development Container Artifacts                  #
####################################################################
.devcontainer
*.swp

####################################################################
#                  Virtual Environment Artifacts                   #
####################################################################
.venv

####################################################################
#                        Python Artifacts                          #
####################################################################
__pycache__

####################################################################
#                    FunctionBank Artifacts                        #
####################################################################
.function_bank